body::before {
    display: block;
    content: '';
    height: 100px;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.card{
    transition: transform 850ms ease;
  }

.card:hover {
    transform: scale(1.1);
    transition: 850ms;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.lead{
    font-weight: bold;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.carousel-caption {
    position: relative;
    padding-top: 4%;
    left: auto;
    right: auto;
}